.card {
    background-color: var(--color-surface);
    color: var(--color-text-secondary);
    height: 100%;
    width: 100%;
    padding: var(--spacing-m);
    border-radius: 20px;
    position: relative;
}

.card a {
    color: var(--color-text-secondary);
}