.layout {
    display: flex;
    background-color: var(--color-background);
    justify-content: center;
    height: 100%;
    min-height: 100vh;
}

.layout__body {
    margin-top: var(--spacing-s);
    gap: var(--spacing-s);
    display: flex;
    flex-direction: column;
    align-items: center;
}