.container {
    display: flex;
    align-items: center;
    flex-grow: 0;
    gap: var(--spacing-s);
    color: var(--color-text-primary);
    margin-right: var(--spacing-s);
}

.location-pin-circle {
    background-color: var(--color-primary);
    height: 100%;
    max-height: 80px;
    max-width: 80px;
    aspect-ratio: 1/1;
    border-radius: 50%;

    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.location-pin {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 20%;
}

.text-row {
    flex-shrink: 0;
    font-size: var(--font-size-m);
}

@media(max-width: 1200px) {
    .text-row {
        font-size: var(--font-size-s);
    }
}

@media(min-width: 1200px) {
    .text-row {
        font-size: var(--font-size-m);
    }
}