.custom-cursor {
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
}

.custom-cursor__hover-container {
    display: contents;
}

.custom-cursor__label {
    --translate-initial: calc(50% + 20px), calc(-100% + 20px);
    transform: translate(var(--translate-initial));
    animation: custom-cursor__label---appear 0.15s
}

.custom-cursor__label-text {
    color: var(--color-text-primary);
}

@keyframes custom-cursor__label---appear {
    0% {
        transform: translate(var(--translate-initial)) scale(1, 0.2);
    }

    30% {
        transform: translate(var(--translate-initial)) scale(1, 0.8);
    }

    70% {
        transform: translate(var(--translate-initial)) scale(1, 1.2);
    }

    100% {
        transform: translate(var(--translate-initial)) scale(1, 1);
    }
}