.text {
    font-size: var(--font-size-l);
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:1265px) {
    .text {
        font-size: var(--font-size-m);
    }

    .container {
        flex-grow: 1;
        flex-shrink: 1;
    }
}