.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-m);
}

.container h2 {
    color: var(--color-text-primary);
    font-size: var(--font-size-xl);
}

.main-card {
    min-height: 650px;
    display: flex;
    width: 100%;
    gap: var(--spacing-m);
    background-color: var(--color-variety-2-dark);
}

.main-card__contact-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: var(--color-text-primary);
    font-size: var(--font-size-l);
    gap: var(--spacing-s);
}

.main-card__contact-text-icon {
    display: flex;
    margin: auto auto;
    width: 70px;
    height: 70px;
    animation: phone-vibration 1s infinite;
}

.main-card__contact-text-icon-container {
    display: flex;
    margin: auto auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: pulsation 1s infinite;
}

.form-card {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    color: var(--color-text-secondary);
    background-color: var(--color-variety-2);
    min-height: 550px;
}

.form-card__form {
    display: contents;
}

.input {
    width: 100%;
}

.button {
    color: var(--color-text-secondary);
    --animation-color: var(--color-background);
    max-width: 500px;
    flex-grow: 1;
    transition: color 0.2s;
    height: 80px;
}

.button:hover {
    color: var(--color-text-primary);
}

@media (hover: none) {
    .button:hover {
        color: var(--color-text-secondary);
    }
}

.button__container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media(max-width: 960px) {
    .main-card {
        flex-direction: column;
    }

    .form-card {
        width: 100%;
    }

    .main-card__contact-text {
        width: 100%;
    }

    .main-card__contact-text-icon-container {
        display: none;
    }
}

@media(max-width: 430px) {
    .form-card {
        align-self: center;
        padding: var(--spacing-m) var(--spacing-xs);
        width: calc(100% + var(--spacing-m) * 2);
    }

    .main-card {
        padding-bottom: 0px;
    }
}

@keyframes phone-vibration {
    0% {
        rotate: 5deg;
    }

    10% {
        rotate: -5deg;
    }

    20% {
        rotate: 5deg;
    }

    30% {
        rotate: -5deg;
    }

    40% {
        rotate: 5deg;
    }

    60% {
        rotate: -10deg;
    }

    100% {
        rotate: 0deg;
    }
}

@keyframes pulsation {
    0% {
        width: 100px;
        background-color: #11c048;
    }

    60% {
        width: 150px;
        height: 150px;
        background-color: transparent;
    }

    100% {
        width: 100px;
        height: 100px;
        background-color: transparent;
    }
}