.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-m);
}

.container h2 {
    color: var(--color-text-primary);
    font-size: var(--font-size-xl);
}

.main-card {
    display: flex;
    width: 100%;
    gap: var(--spacing-m);
    background-color: var(--color-variety-2-dark);
}

.main-card h3 {
    width: 50%;
    color: var(--color-text-primary);
    font-size: var(--font-size-xl);
}

.form-card {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    color: var(--color-text-secondary);
    background-color: var(--color-variety-2);
    max-width: 600px;
    min-height: 550px;
}

.input {
    width: 100%;
}

.button {
    color: var(--color-text-secondary);
    --animation-color: var(--color-background);
    max-width: 500px;
    flex-grow: 1;
    transition: color 0.2s;
    height: 80px;
}

.button:hover {
    color: var(--color-text-primary);
}

.button__container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}