.nav-bar__size-dummy {
    --header-width: 70px;
    --header-width-with-padding: calc(var(--header-width) + var(--spacing-s) * 2);
    --header-width-with-margins: calc(var(--header-width-with-padding) + var(--spacing-m) * 2);
    width: var(--header-width-with-margins);
}

.nav-bar {
    --nav-bar-border-radius: 25px;
    z-index: 99;
    height: calc(100vh - var(--spacing-s) * 2);
    width: var(--header-width-with-padding);
    position: fixed;
    background-color: var(--color-secondary-dark);
    margin: var(--spacing-s);
    padding: var(--spacing-s);
    border-radius: var(--nav-bar-border-radius);
}

.nav-bar__main-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-bar__center-column {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
}

.nav-link-highlight {
    position: fixed;
    pointer-events: none;
    border-radius: 20px;
    transition: 0.2s;
}

.nav-link-highlight--hovered {
    background-color: white;
    opacity: 30%;
}

.nav-link-highlight--active {
    background-color: var(--color-accent);
}

/* mobile screen header */

.mobile-header {
    z-index: 1;
    background-color: var(--color-background);
    display: flex;
    gap: var(--spacing-m);
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: calc(var(--mobile-header-height) + var(--spacing-m) *2);
    overflow: hidden;
    transition: top 0.2s;
    padding: var(--spacing-m);
    display: none;
    top: -100px
}

.mobile-header--visible {
    top: 0px
}

.mobile-header__main-row {
    display: flex;
    gap: var(--spacing-m)
}

.mobile-header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    height: var(--mobile-header-height);
    aspect-ratio: 1/1;
    background-color: var(--color-accent);
}

.nav-bar--mobile {
    transition: all 0.2s;
    width: calc(var(--mobile-header-height) + var(--spacing-m) *2);
}

.nav-bar--mobile-open {
    left: 0px;
}

.nav-bar--mobile-closed {
    left: calc(-1 * var(--header-width-with-margins));
}

.mobile-nav-bar__not-nav-bar-area {
    cursor: pointer;
    z-index: 3;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
}

.mobile-nav-bar__tap-to-close-text {
    animation: rotate-tap-to-close-circle 10s infinite linear;
}

.mobile-nav-bar__tap-to-close-circle {
    --tap-to-close-circle-size: 75px;
    font-weight: bold;
    color: black;
    font-size: var(--font-size-m);
    position: fixed;
    display: flex;
    justify-content: center;
    height: 150px;
    width: 150px;
    background-color: azure;
    top: calc(50% - var(--tap-to-close-circle-size));
    left: calc(50% - var(--tap-to-close-circle-size));
    border-radius: 50%;
}

.mobile-nav-bar__tap-to-close-cross {
    --tap-to-close-cross-size: 50px;
    height: var(--tap-to-close-cross-size);
    width: var(--tap-to-close-cross-size);
    position: absolute;
    top: calc(50% - var(--tap-to-close-cross-size)/2);
    left: calc(50% - var(--tap-to-close-cross-size)/2);
}

@keyframes rotate-tap-to-close-circle {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: -360deg;
    }
}

/* breakpoints */

/* min-height = --max-home-page-height + --spacing-s * 2 */
@media(min-height: 724px) {
    .nav-bar {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        margin-top: 0px;
        height: calc(var(--max-home-page-height) + var(--spacing-s))
    }
}

@media(max-width: 660px) {
    .nav-bar:not(.nav-bar--mobile) {
        display: none;
    }

    .nav-bar--mobile {
        display: flex;
        border-top-right-radius: var(--nav-bar-border-radius);
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        margin: 20px 0px;
        height: calc(100% - var(--spacing-m) * 2);
    }

    .nav-bar__size-dummy {
        width: 0px;
        height: 0px;
    }

    .mobile-header {
        display: flex;
    }
}