.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    color: var(--color-text-primary);
    align-items: center;
    font-size: var(--font-size-xl);
}

.container h2 {
    font-size: var(--font-size-xl);
    max-width: 900px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button-and-arrow-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-m);
}

.button {
    flex-grow: 1;
    max-width: 500px;
    height: 80px;
}