.size-dummy {
    background-color: aqua;
    --header-width: 70px;
    --header-width-with-padding: calc(var(--header-width) + var(--spacing-s) * 2);
    --header-width-with-margins: calc(var(--header-width-with-padding) + var(--spacing-s) * 2);
    width: var(--header-width-with-margins);
}

.header {
    width: var(--header-width-with-padding);
    position: fixed;
    background-color: var(--color-secondary-light);
    margin: var(--spacing-s);
    border-radius: 25px;
}

.main-column {
    height: calc(100vh - var(--spacing-s) * 4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}