.size-dummy {
    --header-width: 70px;
    --header-width-with-padding: calc(var(--header-width) + var(--spacing-s) * 2);
    --header-width-with-margins: calc(var(--header-width-with-padding) + var(--spacing-s) * 2);
    width: var(--header-width-with-margins);
}

.header {
    height: calc(100vh - var(--spacing-s) * 2);
    width: var(--header-width-with-padding);
    position: fixed;
    background-color: var(--color-secondary-dark);
    margin: var(--spacing-s);
    padding: var(--spacing-s);
    border-radius: 25px;
}

.main-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.center-column {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
}

.nav-link-highlight {
    position: fixed;
    pointer-events: none;
    border-radius: 20px;
    transition: 0.2s;
}

.nav-link-highlight--hovered {
    background-color: white;
    opacity: 30%;
}

.nav-link-highlight--active {
    background-color: var(--color-accent);
}