.link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-link);
    border-radius: 25px;
    transition: color 0.15s;
    transition: background-color 0.2s;
    transition: margin-bottom 0.2s;
}

.link--active {
    background-color: color-mix(in srgb, var(--color-background) 80%, white 20%);
}

.link:hover {
    color: var(--color-primary);
}

.link--active:hover {
    color: var(--color-text-link);
}