.around-popup-area {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);

    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.popup {
    margin: var(--spacing-s);
    overflow: hidden;
    max-height: calc(100vh - 2* var(--spacing-s));
    max-width: calc(100vh - 2* var(--spacing-s));
}

.popup__close-button {
    background-color: var(--color-text-primary);
    border-radius: 50%;
    margin-bottom: var(--spacing-s);
    display: flex;
    z-index: 100;
    font-size: 70px;
    color: var(--color-error);
    justify-self: flex-end;
}