.icon {
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45px;
    height: 45px;
}

.icon--rounded {
    border-radius: 20%;
    background-color: white
}

.icon--with-border {
    box-shadow: 0px 0px 0px 3px black;
    background-color: white;
}

.icon--with-label {
    width: 80%;
}

.icon--with-label__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-xs);
}

.icon-with-label__label {
    font-weight: bold;
    color: var(--color-text-primary);
    max-height: calc(1em + 2 * var(--spacing-xs));
}