.icon {
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon:not(.icon--with-label) {
    width: 45px;
    height: 45px;
}

.icon--rounded {
    border-radius: 20%;
    background-color: white
}

.icon--with-border {
    box-shadow: 0px 0px 0px 3px black;
    background-color: white;
}

.icon--with-label {
    height: 60%;
}

.icon--with-label__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-xs);
}