.container {
    display: flex;
    align-items: center;
    flex-grow: 0;
    gap: var(--spacing-s);
    color: var(--color-text-primary);
}

.location-pin-circle {
    background-color: var(--color-accent);
    width: 70px;
    height: 70px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.text-row {
    flex-shrink: 0;
}