.container {
    position: relative;
    display: flex;
    gap: var(--spacing-s);
    align-items: center;
}

.location-pin-circle {
    opacity: 50%;
    left: -12.5px;
    position: absolute;
    background-color: var(--color-accent);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}