.container {
    display: contents;
    animation-delay: var(--animation-delay);
    animation-fill-mode: forwards;
    left: var(--appear-from-x);
    top: var(--appear-from-y);

    opacity: 0%;
    filter: blur(3px);
    transform: translateX(var(--appear-from-x, 0px)) translateY(var(--appear-from-y, 0px));
    animation: appear 0.5s ease-out;
}

.container--from-left {
    --appear-from-x: -100vw;
}

.container--from-right {
    --appear-from-x: 100vw
}

.container--from-top {
    --appear-from-y: -100vh
}

.container--from-bottom {
    --appear-from-y: 100vh
}

@keyframes appear {
    0% {
        opacity: 0%;
        filter: blur(3px);
        transform: translateX(var(--appear-from-x, 0px)) translateY(var(--appear-from-y, 0px));
    }

    100% {
        display: block;
        opacity: 100%;
        filter: blur(0px);
        transform: translate(0px 0px);
    }
}