.appear-container {
    animation-delay: var(--animation-delay);
    animation-fill-mode: forwards;
    transform: translateX(var(--appear-from-x, 0px)) translateY(var(--appear-from-y, 0px));
    animation-delay: var(--animation-delay);
}

.appear-container--show {
    opacity: 0;
    animation: appear 0.6s ease-out forwards;
}

.appear-container--hide {
    opacity: 0;
    transform: translateX(0px) translateY(0px);
    animation: hide 0.3s ease-out forwards;
    animation-delay: 0s !important;
}

.appear-container--after-first-appearance.appear-container--hide {
    opacity: 1;
}

.appear-container--from-left {
    --appear-from-x: -100vw;
}

.appear-container--from-right {
    --appear-from-x: 100vw
}

.appear-container--from-top {
    --appear-from-y: -100vh
}

.appear-container--from-bottom {
    --appear-from-y: 100vh
}

@keyframes hide {
    0% {
        transform: translateX(0px) translateY(0px);
    }

    100% {
        transform: translateX(0px) translateY(0px);
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0px) translateY(0px);
    }
}