.animated-stack {
    display: flex;
}

.animated-stack-item {
    padding-left: var(--spacing-s);
    position: relative;
    transition: padding-left 0.2s, padding-right 0.2s;
}

.animated-stack__animation-trigger {
    position: absolute;
    width: 100%;
}