.container {
    background-color: var(--color-accent-dark);
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--spacing-s);
    flex-grow: 1;
}

.icon__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 45px;
    font-size: var(--font-size-xs);
}

@media(max-width: 1025px) {
    .container {
        grid-template-columns: repeat(10, 1fr);
    }

    .icon {
        font-size: 1.3vw;
    }
}

@media(max-width: 760px) {
    .container {
        grid-template-columns: repeat(5, 1fr);
    }

    .icon {
        font-size: var(--font-size-xs);
    }
}