.MLG-picture {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.MLG-picture__glasses {
    position: absolute;
    z-index: 100;
    width: 60%;
    transform: translateX(39px) translateY(-190px);
    transition: transform 0.3s;
}

.MLG-picture__glasses--hovered {
    transform: rotateZ(-12deg) translateY(20px) translateX(26px);
}