.container {
    background-color: var(--color-accent);
    gap: var(--spacing-s);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-pictire__container {
    flex-shrink: 1;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-picture {
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.greetings__container {
    flex-grow: 0;
    flex-shrink: 0;
    gap: var(--spacing-s);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.greetings__text {
    font-size: var(--font-size-l);
    color: var(--color-text-primary);
}