.custom-cursor {
    position: fixed;
    z-index: 9999;
    pointer-events: none;
}

.custom-cursor__hover-container {
    display: contents;
}

.custom-cursor__hover-container--no-basic-cursor {
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAAAAAA6fptVAAAACklEQVR42mP4DwABBgAHAyH6EAAAAABJRU5ErkJggg=="), auto;
}

.custom-cursor__card {
    padding: var(--spacing-xs);
    box-shadow: var(--box-shadow-light);
}

.custom-cursor__label {
    font-size: var(--font-size-m);
    animation: custom-cursor__label---appear 0.15s
}

.custom-cursor__label-text {
    color: var(--color-text-primary);
}

@keyframes custom-cursor__label---appear {
    0% {
        transform: scale(1, 0.2);
    }

    30% {
        transform: scale(1, 0.8);
    }

    70% {
        transform: scale(1, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}