.container {
    gap: var(--spacing-s);
    display: flex;
    justify-content: space-between;
}

.my-pictire__container {
    flex-shrink: 0;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-picture {
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.greetings__container {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.greetings__text{
    font-size: var(--font-size-l);
    color: var(--color-text-primary);
}