.container {
    gap: var(--spacing-s);
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.my-pictire__container {
    flex-shrink: 0;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-picture {
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.greetings__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}