.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: "space-between";
}

.my-pictire__container {
    width: 150px;
    height: 150px;
    aspect-ratio: 1/1
}

.hello-and-picture__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}