.container {
    color: var(--color-text-primary);
    font-size: var(--font-size-m);
    padding: 0px var(--spacing-s);
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--spacing-m);
}

.about-me-text {
    font-size: var(--font-size-xl);
}

.cards-flexbox {
    gap: var(--spacing-m);
    display: flex;
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
}

.list li::before {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-background);
    align-self: center;
    margin-right: var(--spacing-xs);
}

.list li {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    width: 33%;
}