.container {
    position: relative;
}

.revealed-text-container {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 0px;
    width: 100%;
}

.hidden-text-size-calculation-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0;
}

.hidden-word {
    height: 0px;
    width: 0px;
}

.hidden-word--size-taken-into-account {
    width: auto;
    height: auto;
}

.word__overflow-container {
    overflow: hidden;
    display: flex;
}

.word {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.8s ease-out, transform 0.4s ease-out;
    transition-delay: var(--reveal-delay);
}

.word--visible {
    opacity: 1;
    transform: translateY(0);
    animation: none;
}