.MLG-picture {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.MLG-picture__glasses {
    position: absolute;
    z-index: 100;
    width: 60%;
    transform: rotateZ(-12deg);
    left: 29px;
    top: -190px;
    transition: top 0.3s;
}

.MLG-picture__glasses--hovered {
    top: 13px;
}