.MLG-picture {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.MLG-picture__glasses {
    position: absolute;
    z-index: 100;
    width: 60%;
    transform: rotateZ(-8deg);
    left: 39px;
    top: -100px;
    transition: top 0.3s;
}

.MLG-picture__glasses--hovered {
    top: 19px;
}