html {
    --color-background: #001011;
    --max-home-page-height: 700px;

    --nav-bar-width: 70px;
    --nav-bar-width-with-padding: calc(var(--nav-bar-width) + var(--spacing-s) * 2);
    --nav-bar-width-with-margins: calc(var(--nav-bar-width-with-padding) + var(--spacing-m) * 2);

    --spacing-xs: 6px;
    --spacing-s: 12px;
    --spacing-m: 20px;
    --spacing-l: 32px;
    --spacing-xl: 52px;
    --spacing-xxl: 76px;

    --font-size-xs: 12px;
    --font-size-s: 18px;
    --font-size-m: 24px;
    --font-size-l: 36px;
    --font-size-xl: 50px;
    --font-size-xxl: 80px;

    --mobile-header-height: 60px;
}

html {
    --color-primary: #C3423F;
    --color-primary-light: #db6866;
    --color-primary-dark: #6e1b1a;

    --color-surface: #c8c8c8;
    --color-surface-dark: #495057;

    --color-text-primary: #f8f9fa;
    --color-text-secondary: #001011;
    --color-text-link: white;

    --color-success: #57df3c;
    --color-success-light: #8ce07b;
    --color-warning: #ffc107;
    --color-error: #dc3545;
    --color-error-dark: rgb(182, 3, 3);
    --color-disabled: #a1a1a1;
    --color-disabled-dark: #6c6c6c;

    --color-variety-1: #70CDFF;
    --color-variety-2: #A485D6;
    --color-variety-2-dark: #5A329A;
    --color-variety-3: #F9C04E;

    --color-project-button-variety-1: black;
    --color-project-button-variety-2: var(--color-primary);
    --color-project-button-variety-3: #F46201;
    --color-project-button-variety-4: #0E71FB;

    --box-shadow: 0px 5px 10px 5px black;
    --box-shadow-light: 0px 4px 5px 2px rgba(0, 0, 0, 0.257);
}