.container {
    font-size: var(--font-size-m);
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--spacing-m);
}

.about-me-text {
    color: var(--color-text-primary);
    font-size: var(--font-size-xl);
}

.cards-grid {
    color: var(--color-text-primary);
    gap: var(--spacing-s);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, autofit);
}

.cards-grid div {
    height: 100%;
}

.card {
    color: var(--color-text-secondary);
    font-size: var(--font-size-m);
    gap: var(--spacing-l);
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    grid-column: span 2;
}

.card:first-child {
    background-color: var(--color-variety-2);
}

.card:nth-child(2) {
    background-color: var(--color-variety-1);
}

.card:last-child {
    background-color: var(--color-variety-3);
}

.card__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}

.card__list li::before {
    flex-shrink: 0;
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-text-secondary);
    margin-top: 0.27em;
    margin-right: var(--spacing-s);
}

.card__list li {
    display: flex;
}

.card__small-caption {
    font-size: var(--font-size-s);
    font-style: italic;
    font-weight: bold;
}

.card h2 {
    font-weight: bold;
    font-style: italic;
    display: flex;
    align-items: center;
    font-size: var(--font-size-l);
    border-radius: 20px;
    width: 100%;
}

.react-inline-logo {
    display: inline-flex;
    height: 1em;
    width: 1em;
    animation: spin 10s infinite linear;
}

.react-highligted-span {
    display: inline-flex;
    padding-right: calc(1em/4);
    color: #70CDFF;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@media(max-width: 1165px) {
    .card__list {
        font-size: var(--font-size-s);
    }

    .card h2 {
        font-size: var(--font-size-m);
    }

    .card__small-caption {
        font-weight: normal;
    }

    .card {
        gap: var(--spacing-s);
    }
}

@media(max-width: 875px) {
    .about-me-text {
        font-size: var(--font-size-l);
    }
}

@media(max-width: 960px) {
    .cards-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .card {
        gap: var(--spacing-l);
    }

    .card:last-child {
        grid-column: 2/ span 2;
    }
}

@media(max-width: 720px) {

    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .card:last-child {
        grid-column: span 2
    }

    .card__list {
        gap: var(--spacing-s);
    }

    .card__small-caption {
        font-size: 14px;
        font-weight: bold;
    }

    .card {
        gap: var(--spacing-s);
    }
}