.project-links {
    width: 100%;
    display: flex;
    gap: var(--spacing-s);
}

.project-links__cursor {
    white-space: nowrap;
}

.project-links__link {
    display: grid;
    grid-template-columns: 45px auto 36.56px;
    gap: var(--spacing-m);
    border-radius: 35px;
    flex-grow: 1;
    padding: var(--spacing-s) var(--spacing-m);
    font-size: var(--font-size-m);
    align-items: center;
}

.project-links__link:first-child {
    background-color: var(--color-variety-2);
}

.project-links__link:last-child {
    background-color: var(--color-variety-3);
}

.project-links__link {
    color: var(--color-text-secondary) !important;
}

.project-links__arrow-icon {
    transition: all 0.2s;
    font-size: 45px;
    display: flex;
    flex-shrink: 0;
}

.project-links__link:hover .project-links__arrow-icon {
    rotate: -45deg;
    scale: 1.3;
}

@media (hover: none) {
    .project-links__link:hover .project-links__arrow-icon {
        rotate: 0deg;
        scale: 1;
    }
}

.project-links__logo {
    flex-shrink: 0;
}

.project-links__logo--github {
    border-radius: 50%;
    font-size: 45px;
}

.project-links__logo--app {
    width: 45px;
}

@media(max-width: 850px) {
    .project-links {
        flex-direction: column;
    }
}