.work-position {
    font-size: var(--font-size-xxl);
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
}

@media(max-width:1265px) {
    .work-position {
        font-size: calc(var(--font-size-xxl) * 0.8);
    }
}

@media(max-width: 1025px) {
    .work-position {
        flex-direction: row;
        font-size: 6vw;
    }
}