.button {
    --animation-duration: 0.3s;
    --animation-color: var(--color-accent);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 99;

    padding: var(--spacing-s);

    border: 3px solid var(--color-accent);
    border-radius: 50px;
    color: var(--color-text-primary);
    background-color: transparent;
    font-size: var(--font-size-l);
}

.button::after {
    position: absolute;
    display: block;
    content: "";
    top: 100%;

    z-index: -1;
    background-color: var(--animation-color);
    width: 100px;
    height: 160px;
    border-radius: 50%;
}

.button--hover-start::after {
    animation-name: hover;
    animation-duration: var(--animation-duration);
    animation-fill-mode: forwards;
}

.button--mouse-left::after {
    animation: mouse-leave;
    animation-duration: var(--animation-duration);
    animation-fill-mode: forwards;
}

.button--hovered {
    background-color: var(--animation-color);
}

@keyframes hover {
    0% {
        top: 100%;
        width: 20px;
        height: 100px;
        border-radius: 50%
    }

    40% {
        height: 200px;
        width: 70%;
        border-radius: 40%;
    }

    100% {
        top: -20px;
        width: 120%;
        border-radius: 30%
    }
}

@keyframes mouse-leave {
    0% {
        top: -10px;
        width: 120%;
        border-radius: 30%
    }

    40% {
        width: 90%;
    }

    100% {
        top: -150%;
        width: 100px;
        height: 100px;
        border-radius: 50%
    }
}