.card__feature-video-container {
    --video-width: 400px;
    --video-height: 500px;
    max-width: calc(var(--video-width) + 2 * var(--spacing-s));
    color: var(--color-text-primary);
    overflow: hidden;
    padding: var(--spacing-s);
    border-radius: 35px;
    animation: card__feature-video-container-appear 0.2s forwards;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    box-shadow: var(--box-shadow-light);
}

.card__feature-video {
    height: var(--video-height);
    width: var(--video-width);
    position: relative;
    border-radius: 35px;
}

.card__feature-video-title {
    font-size: var(--font-size-l);
}

.card__feature-video-title--in-progress {
    white-space: nowrap;
    padding: var(--spacing-xs);
}

@keyframes card__feature-video-container-appear {
    0% {
        transform: scaleY(0);
    }

    70% {
        transform: scaleY(1.1);
    }

    100% {
        transform: scaleY(1);
    }
}