.container {
    width: 70%;
    height: calc(100vh - 60px);
    overflow: hidden;
}

.grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 0.5fr);
    gap: var(--spacing-s)
}