.container {
    --height-without-margins: calc(100vh - var(--spacing-s) * 2);
    min-height: min(var(--height-without-margins), var(--max-home-page-height));
    display: flex;
}

.main-row {
    margin: 0px var(--spacing-s);
    display: flex;
    gap: var(--spacing-s);
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    justify-content: stretch;
    width: 45%;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    height: 100%;
    width: 55%;
}

.hello-location-and-connect-flexbox {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}

.location-and-connect-row {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-s);
}

@media(max-width: 1025px) {
    .main-row {
        flex-direction: column;
    }

    .left-column {
        width: 100%;
    }

    .right-column {
        width: 100%;
    }

    .hello-location-and-connect-flexbox {
        flex-direction: row;
        max-height: 190px;
    }

    .location-and-connect-row {
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
    }

    .location-and-connect-row>div,
    .location-and-connect-row>button {
        height: 50%;
    }
}

@media(max-width: 800px) {
    .hello-location-and-connect-flexbox {
        flex-direction: column;
        max-height: none;
        gap: var(--spacing-m);
    }

    .location-and-connect-row {
        flex-direction: row;
    }

    .location-and-connect-row>div,
    .location-and-connect-row>button {
        height: 100%;
    }
}