.container {
    --height-without-margins: calc(100vh - var(--spacing-s) * 2);
    height: min(var(--height-without-margins), var( ));
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
}

.main-row {
    margin: 0px var(--spacing-s);
    display: flex;
    gap: var(--spacing-s);
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    justify-content: stretch;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    height: 100%;
    overflow: hidden;
    max-width: 50%;
}

.location-and-connect-row {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-s);
}